<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datamate</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .container {
            margin-top: 50px;
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            margin-top: 20px;
            color: #343a40;
        }
        .form-check {
            margin-bottom: 10px;
        }
        ul, li {
            list-style-type: none;
        }
        ul {
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-3">Your bro in the world of data 🙌</h1><h2 style="position: absolute; right: 100px; top: 80px; font-size: 13px;" class="text-muted">βeta (v.1.0.0)</h2>
        <h3 class="display-6 blockquote text-center text-muted">Lists looks like a mess? Extract something useful from it <sup style="font-size: 11px;"> *without Excel 🤓 </sup></h3>
        <form action="/start" method="post" enctype="multipart/form-data">
            <div class="mb-3 w-50">
                <label for="csvFile" class="form-label">Select CSV File</label>
                <input type="file" class="form-control" id="csvFile" name="file" accept=".csv" required>
            </div>
            Search for...
            <ul>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="emailSearch" name="options" value="email">
                        <label class="form-check-label" for="emailSearch">
                            Email addresses
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="phoneSearch" name="options" value="phone" disabled>
                        <label class="form-check-label" for="phoneSearch">
                            Phone numbers
                        </label>
                    </div>
                </li>
            </ul>
            Social media links, URLs, etc.
            <ul>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="otherOptions" name="uniq" value="other">
                        <label class="form-check-label" for="otherOptions">
                            Instagram
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="otherOptions" name="uniq" value="other">
                        <label class="form-check-label" for="otherOptions">
                            LinkedIn
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="otherOptions" name="uniq" value="other">
                        <label class="form-check-label" for="otherOptions">
                            X.com
                        </label>
                    </div>
                </li>
            </ul>
            <p>..or just everything between <input type="text" class="form-control" style="width: 150px; display: inline;"> and <input type="text" class="form-control" style="width: 150px; display: inline;"></p>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        <span style="float: right; display: block;" class="text-muted">it's just a helper tool and regex wrapper, don't forget to check the results
       and <a href="buymeacoffee.com/klapauciuz">buy me a coffee</a></span>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>